<div class="container">
	<h3>Alumno Listing</h3>
	<table class='table table-hover table-condensed'>
	<tr>

	<th> ['id_matricula'],['cuatrimestre'],['grupo'],['nom_pila'],['APaterno'],['AMaterno'],['sexo'],['fecha_nacimiento'],['direccion'],['nombre_contacto'],['parentesco'],['antecedente'],['clave_carrera'] </th>

	<th></th>
	<th></th>
	<th></th>
</tr>
	<% _.forEach(Alumnos, function(Alumno) { %>
    		<tr data-id="<%=Alumno.id %>" data-model="Alumno">
		
			<td><%= Alumno.['id_matricula'],['cuatrimestre'],['grupo'],['nom_pila'],['APaterno'],['AMaterno'],['sexo'],['fecha_nacimiento'],['direccion'],['nombre_contacto'],['parentesco'],['antecedente'],['clave_carrera']%></td>
		
			<td><a href="/Alumno/show/<%=Alumno.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/Alumno/edit/<%=Alumno.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

			<td><form action="/Alumno/destroy/<%=Alumno.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
			</form></td>
		</tr>
<% }) %>
	</table>
	<a href="/Alumno/new/" class="btn btn-success btn-sm" role="button">New Alumno</a> |
	<a href="/">all scaffolds</a>
</div>